tr
    td
        input.uk-input.uk-form-small.api-url(type="text" value=api)
        div(uk-dropdown="mode: click")
            ul.uk-nav.uk-dropdown-nav
                each api in apis
                    li
                        a(href="#")= api
    td
        .uk-grid-small.api-label(uk-grid)
            each label in labels
                label
                    input.uk-checkbox(type="checkbox" value=label.value data-icon=label.icon)
                    |  #{label.text}
                    span.uk-icon.uk-icon-image.icon-image-custom(
                        style="background-image:url(" + label.icon + ");")
    td
        button.uk-icon-button.uk-margin-small-right.btn-plus(uk-icon="icon: plus")
        button.uk-icon-button.btn-minus(uk-icon="icon: minus")
